{% extends "layout.html"%}

{% block body %}
    <div class="container">
        <h1>Flight Details</h1>
        <ul>
            <li>Origin: {{ flight.origin }}</li>
            <li>Destination: {{ flight.destination }}</li>
            <li>Duration: {{ flight.duration }}</li>
        </ul>
        <h1>Passengers</h1>
        <ul>
            {% for passenger in passengers %}
                <li>{{ passenger.name }}</li>
            {% else %}
                <h3>No passengers.</h3>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
